{% extends 'base.html.twig' %}

{% block body %}
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            LISTE DES utilisateurs
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
                "paging": {
                  "enabled": true
                },
                "filtering": {
                  "enabled": true
                },
                "sorting": {
                  "enabled": true
                }}'>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Telephone</th>
                    <th>Adresse</th>
                    <th>Email</th>
                    <th>Etat</th>
                    <th>Action</th>
                </tr>
                </thead>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom}}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.enabled %}Actif{% else %}Désactivé{% endif %}</td>
                <td><a class="btn btn-danger" href="{{ path('app_front_user_edit', { 'id': user.id }) }}">
                        {% if user.enabled %}Désactiver{% else %}Activer{% endif %}</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</div>
{% endblock %}
