{% extends 'base.html.twig' %}

{% block body %}
<div class="table-agile-info">
    {% if is_granted('ROLE_ADMIN') == true %}
        <a class="btn btn-success" href="{{ path('category_new') }}"><i class="fa fa-plus-square"></i> Ajouter une catégorie</a><hr/>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            LISTE DES CATEGORIES
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
                "paging": {
                  "enabled": true
                },
                "filtering": {
                  "enabled": true
                },
                "sorting": {
                  "enabled": true
                }}'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                            <td>{{ category.nom }}</td>
                            <td>{{ category.description }}</td>
                            <td>

                                        <a class="btn btn-default" href="{{ path('category_show', { 'id': category.id }) }}">Afficher</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                            <a class="btn btn-success" href="{{ path('category_edit', { 'id': category.id }) }}">Modifier</a>
                                    {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
