{% extends 'base.html.twig' %}

{% block body %}
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            DETAIL {{ livre.titre }}
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ livre.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ livre.titre }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ livre.description }}</td>
                    </tr>
                    <tr>
                        <th>Auteur</th>
                        <td>{{ livre.auteur }}</td>
                    </tr>
                    <tr>
                        <th>Editeur</th>
                        <td>{{ livre.editeur }}</td>
                    </tr>
                    <tr>
                        <th>Disponibilite</th>
                        <td>{% if livre.disponibilite %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Iban</th>
                        <td>{{ livre.iban }}</td>
                    </tr>
            </tbody>
             </table>
        </div>
    </div>
</div>

{% endblock %}
